<h1>Password Reset</h1>

<%= form_with model: @user, url: passwords_reset_edit_path(token: params[:token]) do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <ul class="mb-0">
        <% form.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>  
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :password, class:"form-label" %>
    <%= form.password_field :password, class:"form-control shadow" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class:"form-label" %>
    <%= form.password_field :password_confirmation, class:"form-control shadow" %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Reset password', class:"btn btn-primary shadow" %>
  </div>
<% end %>
